<div class="row">
{{#each products}}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src={{imgUrl}} alt=""></a>
            <div class="card-body">
            <h4 class="card-title">
                <a href="/detail-product/{{id}}">{{name}}</a>
            </h4>
            <h5>{{price}}</h5>
            <p class="card-text">{{description}}</p>
            </div>
            <div class="card-footer">
                <form action="/delete-product/{{id}}" method="POST">
                    <button type="submit">Borrar</button>
                </form>
                <a href="/edit-product/{{id}}">Editar</a>
            </div>
        </div>
    </div>
{{/each}}
</div>